.container {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 5px;
}

.conference-rooms {
  margin-bottom: 20px;
  margin-left: 15%;
}

.date-picker-wrapper {
  padding: 10px;
  border-radius: 5px;
}
.form-group {
  margin-left: 15%;
}

.custom-button {
  background-color: #242424;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.custom-button {
  background-color: #242424;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #555555;
}
